# Create nodes
{{ #network.nodes.allNodes }}
{{ view.label }} = create("{{ modelId }}"{{ #sizeVisible }}, {{ n }}{{ /sizeVisible }}{{ #hasSomeVisibleParams }}, params={
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
}{{ /hasSomeVisibleParams }})
{{ /network.nodes.allNodes }}

# Connect nodes
{{ #network.connections.allConnections }}
connect({{ source.label }}{{ sourceSlice.indices }}, {{ target.label }}{{ targetSlice.indices }}{{ #hasConnSpec }}{{ ^hasSomeVisibleParams }}, "{{ rule.value }}"{{ /hasSomeVisibleParams }}{{ #hasSomeVisibleParams }}, conn_spec={
  "rule": "{{ rule.value }}",
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
}{{ /hasSomeVisibleParams }})
{{ /network.connections.allConnections }}

# Run simulation
simulate({{ simulation.time }})

response = {
  "events": [{{ #network.nodes.recorders }}{{ view.label }}.events, {{ /network.nodes.recorders }}]
}
