{{ #simulation.code.importModules }}
import nest
import numpy as np
{{ /simulation.code.importModules }}
{{ #simulation.code.resetKernel }}

nest.ResetKernel()
{{ /simulation.code.resetKernel }}{{ #simulation.modules }}
nest.Install("{{.}}")
{{ /simulation.modules }}
{{ #simulation.code.setKernelStatus }}

# Set simulation kernel
nest.SetKernelStatus({
  "local_num_threads": {{ simulation.kernel.localNumThreads }},
  "resolution": {{ simulation.kernel.resolution }},
  "rng_seed": {{ simulation.kernel.rngSeed }}
})
{{ /simulation.code.setKernelStatus }}
{{ #simulation.code.createNodes }}
{{ #network.modelsCopied.hasNodeModels }}

# Copy node models
{{ #network.modelsCopied.nodeModels }}
nest.CopyModel("{{ existingModelId }}", "{{ newModelId }}"{{ #hasSomeVisibleParams }}, params={
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
}{{ /hasSomeVisibleParams }})
{{ /network.modelsCopied.nodeModels }}
{{ /network.modelsCopied.hasNodeModels }}

# Create nodes
{{ #network.nodes.all }}
{{ #isGroup }}
{{ view.label }} = {{ toCode }}
{{ /isGroup }}
{{ #isNode }}
{{ view.label }} = nest.Create("{{ modelId }}"{{ #sizeVisible }}, {{ n }}{{ /sizeVisible }}{{ #hasSomeVisibleParams }}, params={
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
{{ #model.isRecorder }}
{{ #model.isAnalogRecorder }}
  "record_from": {{ &recordsFixed }},
{{ /model.isAnalogRecorder }}
{{ #simulation.code.runSimulationInsite }}
  "record_to": "insite",
{{ /simulation.code.runSimulationInsite }}
{{ /model.isRecorder }}
}{{ /hasSomeVisibleParams }}{{ #spatial.positions }},
  positions={{ &spatial.code }}{{ /spatial.positions }})
{{ /isNode }}
{{ /network.nodes.all }}
{{ #network.hasSomeNodeCompartments }}

# Create node compartments
{{ #network.nodes.all }}
{{ #hasCompartments }}
{{ view.label }}.compartments = [
{{ #compartments }}
  {"parent_idx": {{ parentIdx }}{{ #hasSomeParams }}, "params": {
    {{ #filteredParams }}"{{ id }}": {{ code }},
    {{ /filteredParams }}}
  {{ /hasSomeParams }}},
{{ /compartments }}
]
{{ /hasCompartments }}
{{ /network.nodes.all }}
{{ /network.hasSomeNodeCompartments }}
{{ #network.hasSomeNodeReceptors }}

# Create node receptors
{{ #network.nodes.all }}
{{ #hasReceptors }}
{{ view.label }}.receptors = [
{{ #receptors }}
  {"comp_idx": {{ compartment.idx }}, "receptor_type": "{{ id }}"{{ #hasSomeParams }}, "params": {
    {{ #filteredParams }}"{{ id }}": {{ code }},
    {{ /filteredParams }}}
  {{ /hasSomeParams }}},
{{ /receptors }}
]
{{ /hasReceptors }}
{{ /network.nodes.all }}
{{ /network.hasSomeNodeReceptors }}
{{ /simulation.code.createNodes }}
{{ #simulation.code.connectNodes }}
{{ #network.modelsCopied.hasSynapseModels }}

# Copy synapse models
{{ #network.modelsCopied.synapseModels }}
nest.CopyModel("{{ existingModelId }}", "{{ newModelId }}"{{ #hasSomeVisibleParams }}, params={
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}{{ #params.weight_recorder }}
  "weight_recorder": {{ params.weight_recorder.code }},
{{ /params.weight_recorder  }}
}{{ /hasSomeVisibleParams }})
{{ /network.modelsCopied.synapseModels }}
{{ /network.modelsCopied.hasSynapseModels }}

# Connect nodes
{{ #network.connections.all }}
nest.Connect({{ source.view.label }}{{ sourceSlice.indices }}, {{ target.view.label }}{{ targetSlice.indices }}{{ #hasConnSpec }}{{ ^hasSomeVisibleParams }}, "{{ rule.value }}"{{ /hasSomeVisibleParams }}{{ #hasSomeVisibleParams }}, conn_spec={
  "rule": "{{ rule.value }}",
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
}{{ /hasSomeVisibleParams }}{{ /hasConnSpec }}{{ #synapse.hasSynSpec }}, syn_spec={{ ^synapse.hasSomeVisibleParams }}"{{ synapse.modelId }}"{{ /synapse.hasSomeVisibleParams }}{{ #synapse.hasSomeVisibleParams }}{ {{ ^synapse.isStatic }}
  "synapse_model": "{{ synapse.modelId }}",{{ /synapse.isStatic }}
{{ #synapse.filteredParams }}
  "{{ id }}": {{ code }},
{{ /synapse.filteredParams }}
{{ #synapse.hasReceptorIndices }}
  "receptor_type": {{ synapse.receptorIdx }},
{{ /synapse.hasReceptorIndices }}
}{{ /synapse.hasSomeVisibleParams }}{{ /synapse.hasSynSpec }})
{{ /network.connections.all }}
{{ /simulation.code.connectNodes }}
{{ #simulation.code.tagAnnotations }}

# Tag annotations
nest.userdict.clear()
{{ #network.state.nodeAnnotations }}
nest.userdict["{{ key }}"] = {{ &value }}
{{ /network.state.nodeAnnotations }}
{{ /simulation.code.tagAnnotations }}

{{ #simulation.code.prepareSimulation }}
# Prepare simulation
nest.Prepare()
{{ /simulation.code.prepareSimulation }}
{{ #simulation.code.runSimulation }}
# Run simulation
nest.Simulate({{ simulation.time }})

{{ ^simulation.code.runSimulationInsite }}
{{ #network.nodes.hasSomeSpatialNodes }}
# Get positions
def getPositions(nodes):
    positions = {}
    for node in nodes:
        position = nest.GetPosition(node)
        for idx in range(len(node)):
            positions[node[idx].global_id] = position[idx]
    return positions

{{ /network.nodes.hasSomeSpatialNodes }}
response = {
  "events": [{{ #network.nodes.recorders }}{{ view.label }}.events, {{ /network.nodes.recorders }}]{{ #network.nodes.hasSomeSpatialNodes }},
  "positions": getPositions([{{ #network.nodes.spatialNodes }}{{ view.label }},{{ /network.nodes.spatialNodes }}]){{ /network.nodes.hasSomeSpatialNodes }}
}
{{ /simulation.code.runSimulationInsite }}
{{ /simulation.code.runSimulation }}
