{{ #code.doImportModules }}
import nest
import numpy as np
{{ /code.doImportModules }}
{{ #code.resetKernel }}

nest.ResetKernel()
{{ /code.resetKernel }}
{{ #code.doRunSimulationInsite }}

try:
  nest.Install('insitemodule')
except:
  pass
{{ /code.doRunSimulationInsite }}
{{ #code.doSetKernelStatus }}

# Set simulation kernel
nest.SetKernelStatus({
  "local_num_threads": {{ simulation.kernel.localNumThreads }},
  "resolution": {{ simulation.kernel.resolution }},
  "rng_seed": {{ simulation.kernel.rngSeed }}
})
{{ /code.doSetKernelStatus }}
{{ #code.doCreateNodes }}
{{ #network.hasNodeModels }}

# Copy node models
{{ #network.copyModels.nodeModels }}
nest.CopyModel("{{ existingModelId }}", "{{ newModelId }}"{{ #hasSomeVisibleParams }}, params={
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
}{{ /hasSomeVisibleParams }})
{{ /network.copyModels.nodeModels }}
{{ /network.hasNodeModels }}

# Create nodes
{{ #network.nodes }}
{{ view.label }} = nest.Create("{{ modelId }}"{{ #sizeVisible }}, {{ n }}{{ /sizeVisible }}{{ #hasSomeVisibleParams }}, params={
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
{{ #model.isRecorder }}
{{ #model.isMultimeter }}
  "record_from": {{ &recordsFixed }},
{{ /model.isMultimeter }}
{{ #code.doRunSimulationInsite }}
  "record_to": "insite",
{{ /code.doRunSimulationInsite }}
{{ /model.isRecorder }}
}{{ /hasSomeVisibleParams }}{{ #spatial.positions }}, positions={{ &spatial.code }}{{ /spatial.positions }})
{{ /network.nodes }}
{{ #network.hasSomeNodeCompartments }}

# Create node compartments
{{ #network.nodes }}
{{ #hasCompartments }}
{{ view.label }}.compartments = [
{{ #compartments }}
  {"parent_idx": {{ parentIdx }}{{ #hasSomeParams }}, "params": {
    {{ #filteredParams }}"{{ id }}": {{ code }},
    {{ /filteredParams }}}
  {{ /hasSomeParams }}},
{{ /compartments }}
]
{{ /hasCompartments }}
{{ /network.nodes }}
{{ /network.hasSomeNodeCompartments }}
{{ #network.hasSomeNodeReceptors }}

# Create node receptors
{{ #network.nodes }}
{{ #hasReceptors }}
{{ view.label }}.receptors = [
{{ #receptors }}
  {"comp_idx": {{ compartment.idx }}, "receptor_type": "{{ id }}"{{ #hasSomeParams }}, "params": {
    {{ #filteredParams }}"{{ id }}": {{ code }},
    {{ /filteredParams }}}
  {{ /hasSomeParams }}},
{{ /receptors }}
]
{{ /hasReceptors }}
{{ /network.nodes }}
{{ /network.hasSomeNodeReceptors }}
{{ /code.doCreateNodes }}
{{ #code.doConnectNodes }}
{{ #network.copyModels.hasSynapseModels }}

# Copy synapse models
{{ #network.copyModels.synapseModels }}
nest.CopyModel("{{ existingModelId }}", "{{ newModelId }}"{{ #hasSomeVisibleParams }}, params={
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
}{{ /hasSomeVisibleParams }})
{{ /network.copyModels.synapseModels }}
{{ /network.copyModels.hasSynapseModels }}

# Connect nodes
{{ #network.connections }}
nest.Connect({{ source.view.label }}{{ sourceSlice.indices }}, {{ target.view.label }}{{ targetSlice.indices }}{{ #hasConnSpec }}{{ ^hasSomeVisibleParams }}, "{{ rule.value }}"{{ /hasSomeVisibleParams }}{{ #hasSomeVisibleParams }}, conn_spec={
  "rule": "{{ rule.value }}",
{{ #filteredParams }}
  "{{ id }}": {{ code }},
{{ /filteredParams }}
}{{ /hasSomeVisibleParams }}{{ /hasConnSpec }}{{ #synapse.hasSynSpec }}, syn_spec={{ ^synapse.hasSomeVisibleParams }}"{{ synapse.modelId }}"{{ /synapse.hasSomeVisibleParams }}{{ #synapse.hasSomeVisibleParams }}{ {{ ^synapse.isStatic }}
  "synapse_model": "{{ synapse.modelId }}",{{ /synapse.isStatic }}
{{ #synapse.filteredParams }}
  "{{ id }}": {{ code }},
{{ /synapse.filteredParams }}
{{ #synapse.hasReceptorIndices }}
  "receptor_type": {{ synapse.receptorIdx }},
{{ /synapse.hasReceptorIndices }}
}{{ /synapse.hasSomeVisibleParams }}{{ /synapse.hasSynSpec }})
{{ /network.connections }}
{{ /code.doConnectNodes }}

{{ #code.doPrepareSimulation }}
# Prepare simulation
nest.Prepare()
{{ /code.doPrepareSimulation }}
{{ #code.doRunSimulation }}
# Run simulation
nest.Simulate({{ simulation.time }})

{{ ^code.doRunSimulationInsite }}
{{ #network.someSpatialNodes }}
# Get positions
def getPositions(nodes):
    positions = {}
    for node in nodes:
        position = nest.GetPosition(node)
        for idx in range(len(node)):
            positions[node[idx].global_id] = position[idx]
    return positions

{{ /network.someSpatialNodes }}
response = {
  "events": [{{ #network.recorders }}{{ view.label }}.events, {{ /network.recorders }}]{{ #network.someSpatialNodes }},
  "positions": getPositions([{{ #network.spatial }}{{ view.label }},{{ /network.spatial }}]){{ /network.someSpatialNodes }}
}
{{ /code.doRunSimulationInsite }}
{{ /code.doRunSimulation }}
